* {
    font-family: 'Ubuntu', sans-serif;
}
body {
    background-color: #fafafa;
}
lottie-player {
    margin: 0 auto;
}
.informasi {
    text-align: center;
    background-color: #eeeeee;
    padding-top: 15px;
    padding-bottom: 2px;
}
.shadow-sm {
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
}
.bg-light {
    background-color: #fafafa!important;
}
/* Text Size */
.fs-7 {
    font-size: 14px;
}
.fs-8 {
    font-size: 12px;
}
header h1 {
    font-size: 50px;
    margin-bottom: 15px;
}
header p {
    color: rgba(80, 80, 80, 0.867);
    margin-bottom: 15px;
}
.btn-main {
    padding: 10px 30px;
    border-radius: 10px;
}
.link-container {
    text-align: center;
    background-color: #eeeeee;
    height: 80px;
    width: auto;
    border-radius: 10px;
}
.link-container i {
    line-height: 80px;
    font-size: 28px;
    color: rgb(44, 44, 44);
}
.link-container span {
    font-size: 14px;
    display: inline-block;
    align-content: center;
}
footer p {
    text-align: center;
}
footer p a {
    color: #1E639D;
    text-decoration: none!important;
}

.form-control {
    border-radius: 10px!important;
    border: 1px solid #eeeeee;
    color: rgb(92, 92, 92);
    font-size: 14px;
}
label {
    font-size: 14px;
}
.btn-primary{
    background-color: #1E639D;
    border-radius: 10px;
    border: none;
}
.btn-primary:hover{
    background-color: #19578a;
    border: none;
}
.rotate {
    transform: rotate(-8deg)
}